.foot{
	width: 100%;
	// margin:0 auto;
	background: #212a35;
	// height: 300px;
	padding: 20px;
	color: #fff;
	.main{
		width: 80%;
		margin: 0 auto;

	}
	.footer-btm{
		margin-top: 20px;
		font-weight: 400;
		display: block;
		text-transform: none;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0;
	}
}